<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="lib/angular-material/angular-material.css"> 
    <link rel="stylesheet" href="css/style.css"> 
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
  </head>
  <body ng-app="telequiz" ng-controller="QuizController" layout="column" >
    <md-toolbar layout="row"
      <span flex-10></span>
      <h2 layout="column" layout-align="center center">telequiz</h2>    
     <div class="md-toolbar-tools">
         <span flex></span>
         <md-button ng-if="!user.loggedIn" ng-click="register()" style="fill:white; top:1.5em; font-weight: bold;" flex-50 aria-label="Menu">
            <md-tooltip>Register using Facebook</md-tooltip>
            <ng-md-icon icon="account_circle"></ng-md-icon>
         </md-button>
         <md-button ng-if="user.loggedIn">
          Logged in as {{user.name}}
        </md-button>
     </div>
    </md-toolbar>
    <div layout="row" flex>
      <md-sidenav md-component-id="left" layout="column" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2">
         <md-subheader class="md-no-sticky">
           <md-input-container flex>
             <input ng-model="search.who" placeholder="Search leaderboard">
           </md-input-container>
         </md-subheader>
         <md-list>
            <md-list-item class="md-2-line" ng-repeat="user in leaderBoard | filter:search.who | orderBy:'percentage'">
              <h3>{{$index + 1}}:&nbsp;</h3>
              <img ng-src="{{user.profileImageURL}}" class="md-avatar"/>
              <div class="md-list-item-text">
                <h3>{{ user.name }}</h3>
                <p>score: {{user.percentage}}%</p>
              </div>  
            </md-list-item>
         </md-list>
      </md-sidenav>
      <md-content id="content" flex>
        <md-card layout-align="center center" ng-show="quiz.begin === false">
          <md-card-content layout-wrap class="quiz-info">
            <p> Welcome to Telequiz, a platform for testing your trivia skills</p>
            <p>
            Sign in on the right top corner then click below to start your quiz
            </p>
            <section layout-align="center center" layout-wrap>
              <md-button class="button-begin md-fab md-primary" aria-label="Begin" ng-click="begin()">
                Begin
                <md-tooltip>I'm ready to go!</md-tooltip>
              </md-button>
            </section>
          </md-card-content>
        </md-card>
        <div layout="row" ng-show="quiz.begin === true" ng-repeat = "question in questions track by $index" ng-if="$index === quiz.activeQuestion">
           <md-card layout="column" layout-align="start start" flex-50 class="fade-in-out">
             <md-card-content class="blue-question-container">
                <h2 layout-align="center center">{{quiz.activeQuestion + 1}} : &nbsp; {{question.question}}</h2>
                <div layout="row">
                  <md-radio-group ng-model="data.group1" layout="column" class="md-primary">
                    <md-radio-button class="radio" ng-repeat="answer in question.answers" ng-value="answer.id" ng-click=" selectAnswer($parent.$index, $index)" ng-disabled="clock.timeover===true || question.correctness">{{ answer.text }}</md-radio-button>
                  </md-radio-group>
                  </br>   
                </div>
             </md-card-content>  
           </md-card> 
           <md-card flex-50 class="fade-in-out">
             <md-card-content layout-align="end end">
               <section ng-if="question.correctness" class="" flex layout="column" layout-align="start start">
                  <span ng-if="question.correctness === 'incorrect'" class="red">Yikes, that's incorrect!</span>
                  <p>{{ question.feedback }}</p>
               </section>
               <div layout="column" layout-align="right" id="clock">
                  <div>
                    <span ng-if="!question.correctness">{{clock.counter}}</span> 
                    <span ng-if="!question.correctness && clock.timeover === true" class="small">Oops, you ran out of time!</span> 
                    <span ng-if="(clock.timeover === true && !question.correctness) || question.correctness === 'incorrect'" class="small">The answer is {{quiz.correctAnswer}}</span> 
                    <span ng-if="question.correctness === 'correct'">That's correct!</span>
                  </div>
               </div>
               <md-button aria-label="Next Question" ng-if="!quiz.finished && (question.correctness || clock.timeover)" class="md-raised md-primary button-next" ng-click="nextQuestion()">Next Question</md-button>
             </md-card-content> 
           </md-card>  
        </div>
        <md-card ng-if="quiz.finished === true" layout="row" layout-wrap>
          <md-card-content layout="column" layout-align="start center" id="results">
            <div>Results</div>
            <div>
                <span>You scored {{percentage}}% by correctly answering {{score}} of the total {{totalQuestions}} questions</span>
            </div>
            <div ng-if="!user.loggedIn">Click on the icon on the right to save your scores</div>
          </md-card-content>
          <md-card-content layout="column">
            <div class="share" ng-bind-html="createShareLinks(percentage)"></div>
          </md-card-content>
          </br>
          </br>
          <md-card-content layout="column" layout-align="center center">
            <h3>Not pleased with your score?</h3>
            <md-button class="md-fab md-primary button-retake" aria-label="Retake Test" ng-click="reload()">Retake Test
            <md-tooltip>We are in this together</md-tooltip></md-button>
          </md-card-content>
        </md-card>
      </md-content>
    </div>
    <script src="js/firebase.js"></script>
    <script src="js/angularfire.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script> 
    <script src="js/app.js"></script>
    <script src="js/quiz.js"></script>
    
  </body>
</html>