<!DOCTYPE html>
<html ng-app="telequiz">
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="lib/angular-material/angular-material.css"> 
    <link rel="stylesheet" href="css/style.css"> 
  </head>
  <body ng-controller="QuizController" layout="column">
    <md-toolbar layout="row">
      <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
      <md-button aria-label="Search" ng-click="showSearch = !showSearch">
        <ng-md-icon icon="search"></ng-md-icon>
      </md-button>
      <span flex-25></span>

      <h3>Telequiz</h3>      
    </md-toolbar>
    <div layout="row" flex>
      <md-sidenav md-component-id="left" layout="column" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2">
         <div layout="row">
           <md-button layout="column" flex-20 class="md-primary md-raised" ng-click="showSearch = !showSearch" aria-label="Back">
            Back
           </md-button>
           <md-input-container layout="column" flex-80>
             <label>&nbsp;</label>
             <input ng-model="search.who" placeholder="Enter search">
           </md-input-container>
           <md-button aria-label="Search" ng-click="showSearch = !showSearch">
             <ng-md-icon icon="search"></ng-md-icon>
           </md-button>
         </div>
         <md-list>
            <md-list-item>
              
            </md-list-item>
         </md-list>
      </md-sidenav>
      <md-content id="content" flex>
        <md-card layout-align="center center" ng-show="quiz.begin === false">
          <md-card-content layout-wrap class="quiz-info">
            <p> Welcome to Telequiz, a platform for testing your trivia skills</p>
            <p>
            You will be asked a series of timed questions to test your knowledge on just about anything. Click below to start your quiz
            </p>
            <section layout-align="center center" layout-wrap>
              <md-button class="button-begin md-fab md-primary" aria-label="Begin" ng-click="begin()">Begin</md-button>
            </section>
          </md-card-content>
        </md-card>
        <div layout="row" ng-show="quiz.begin === true" ng-repeat = "question in questions track by $index" class="question-container" ng-if="$index === quiz.activeQuestion">
           <md-card layout="column" layout-align="start start" class="fade-in-out">
             <md-card-content>
                <h2 layout-align="center center">{{quiz.activeQuestion + 1}} : &nbsp; {{question.question}}</h2>
                <div layout="row">
                  <md-radio-group ng-model="data.group1" layout="column">
                    <md-radio-button ng-repeat="answer in question.answers" ng-value="answer.id" ng-click="selectAnswer($parent.$index, $index)" class="md-primary">{{ answer.text }}</md-radio-button>
                  </md-radio-group>
                  </br>   
                </div>
             </md-card-content>  
           </md-card> 
           <md-card>
             <md-card-content layout-align="end end">
               <section ng-if="question.correctness" class="" flex layout="column" layout-align="start start">
                  <span ng-if="question.correctness === 'incorrect'" class="red">Yikes, that's incorrect!</span>
                  <p>{{ question.feedback }}</p>
               </section>
               <div layout="column" layout-align="right" id="clock">
                  <div>
                    <span ng-if="!question.correctness">{{clock.counter}}</span> 
                    <span ng-if="!question.correctness && clock.timeover === true" class="small">Oops, you ran out of time!</span> 
                    <span ng-if="(clock.timeover === true && !question.correctness) || question.correctness === 'incorrect'" class="small">The answer is {{quiz.correctAnswer}}</span> 
                    <span ng-if="question.correctness === 'correct'">That's correct!</span>
                  </div>
               </div>
               <md-button aria-label="Next Question" ng-if="!quiz.finished && (question.correctness || clock.timeover)" class="md-raised md-primary button-next" ng-click="nextQuestion()">Next Question</md-button>
             </md-card-content> 
           </md-card>  
        </div>
        <md-card ng-if="quiz.finished === true" layout="row" layout-wrap>
          <md-card-content layout="column" layout-align="start center" id="results">
            <div>Results</div>
            <div>
                <span>You scored {{percentage}}% by correctly answering {{score}} of the total {{totalQuestions}} questions</span>
            </div>
          </md-card-content>
          <md-card-content layout="column">
            <div>Use the links below to challenge your friends.</div>
            <div class="share" ng-bind-html="createShareLinks(percentage)"></div>
          </md-card-content>
          </br>
          </br>
          <md-card-content layout="column" layout-align="center center">
            <h3>Not pleased with your score?</h3>
            <md-button class="md-fab md-primary button-retake" aria-label="Retake Test" ng-click="reload()">Retake Test</md-button>
          </md-card-content>
        </md-card>
      </md-content>
    </div> 
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script> 
    <script type="text/javascript">

      angular.module('telequiz', ['ngMaterial',
        'ngRoute','ngAnimate', 'ngMdIcons'])
      .config(function($mdThemingProvider, $mdThemingProvider, $mdDialog ) {
        $mdThemingProvider.theme('altTheme').primaryPalette('brown');
        $mdIconProvider.defaultIconSet("assets/start.svg", 128)
       });

    </script>
    <script src="js/quiz.js"></script>

  </body>
</html>